<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
  <div th:replace="layout/basic :: sidebar">

  </div>

  <!-- content start -->
  <div class="content">
    <div th:replace="layout/basic :: navbar"></div>

    <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

      <br>
      <div style="display: inline-flex; align-items: center">
        <button class="btn btn-outline-secondary" th:text="${noticeDTO.categoryName}"></button>
        &nbsp;
        &nbsp;
        <div style="font-size: 20pt; font-weight: bold; color: black" th:text="${noticeDTO.title}"></div>&nbsp;&nbsp;<div th:if="${noticeDTO.isAdmin()}">회원 전용</div>
      </div>

      <div style="display: inline-flex" class="float-end">
        <button style="display: none;" class="btn btn-primary float-end editBtn" th:data="${noticeDTO.idx}"> 수정 </button>
        &nbsp;
        <button style="display: none;" class="btn btn-danger float-end deleteBtn" th:data="${noticeDTO.idx}"> 삭제 </button>
        &nbsp;
        <button style="display: inline-flex" class="btn btn-secondary float-end listBtn"> 목록 </button>
      </div>

      <hr>
      <br>
      <div style="display: flex" class="align-items-center">
        <img th:if="${noticeDTO.uuid != null}" class="rounded-circle profile" th:src="${'/view/' + noticeDTO.uuid + noticeDTO.extension}" alt="" style="width: 40px; height: 40px; object-fit: cover">
        <img th:if="${noticeDTO.uuid == null}" class="rounded-circle profile" src="/images/default_profile.jpg" alt="" style="width: 40px; height: 40px; object-fit: cover">
        &nbsp;
        &nbsp;
        <div>
          <div th:text="${noticeDTO.writerName}"></div>
          <div th:text="${noticeDTO.writeDate}"></div>
        </div>
      </div>
      <br>

      <br>

      <div th:text="${noticeDTO.content}"></div>

      <br>

    </div>
    <!--    inner content end-->

  </div>
  <!-- content end -->


  <a th:replace="layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->




<div th:replace="layout/basic :: scriptSet"></div>

<script>

  const listBtn = document.querySelector(".listBtn");
  listBtn.addEventListener("click", function () {
    // alert("click!");
    location.href = "/member/notice";
  })


  const principal = '[[${#authentication.principal.username}]]';


  const writer = `[[${noticeDTO.writer}]]`

  const editBtn = document.querySelector(".editBtn");
  const deleteBtn = document.querySelector(".deleteBtn");
  if(writer === principal){
    editBtn.style.display = "inline-flex";
    deleteBtn.style.display = "inline-flex";
  }

  editBtn.addEventListener("click", function () {

    let idx = editBtn.getAttribute("data");
    location.href = "/member/notice/modify?idx=" + idx;
  })


  deleteBtn.addEventListener("click", function () {

    if(!confirm("삭제하시겠습니까?")){
      return;
    }

    let idx = deleteBtn.getAttribute("data");

    const paramList = {
      idx : idx
    }

    noticeDelete(paramList).then( result => {
      alert(result + "번 글이 삭제되었습니다.");
      location.href = "/member/notice";
    }).catch( e => {
      console.log(e);
    });


  })


  async function noticeDelete(paramList) {
    const response = await axios.delete(`/member/notice/delete/${paramList.idx}`);
    return response.data;
  }



</script>
</body>
</html>