<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/basic :: head"></head>
<style>
    .clicked {
        background-color: #007bff; /* 클릭된 상태일 때의 배경색 */
        color: #fff; /* 클릭된 상태일 때의 글자색 */
        border-color: #007bff; /* 클릭된 상태일 때의 테두리 색 */
    }
</style>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar">

    </div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="container-fluid pt-5 px-5">

            <div class="inner-content" style="margin: 2vw 0 20px 20px; max-width: 80%">

                <h1> 설문조사 조회 메뉴 </h1>

                <hr>

                <div class="row g-4">

                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 p-4">
                            <button th:if="${round == 1}" class="btn btn-primary w-100 m-2 firstBtn" type="button" th:text="1회차"></button>
                            <button th:if="${round != 1}" class="btn btn-outline-primary w-100 m-2 firstBtn" type="button" th:text="1회차"></button>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 p-4">
                            <button th:if="${round == 2}" class="btn btn-primary w-100 m-2 secondBtn" type="button" th:text="2회차"></button>
                            <button th:if="${round != 2}" class="btn btn-outline-primary w-100 m-2 secondBtn" type="button" th:text="2회차"></button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 p-4">
                            <button th:if="${round == 3}" class="btn btn-primary w-100 m-2 thirdBtn" type="button" th:text="3회차"></button>
                            <button th:if="${round != 3}" class="btn btn-outline-primary w-100 m-2 thirdBtn" type="button" th:text="3회차"></button>
                        </div>
                    </div>

                    <!-- 설문회차 출력 -->
                    <div class="col-12" th:name="surveyTitle">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="table-responsive">
                                <h2>중간 교육만족도 설문조사서(<span th:name="round" th:text="${param.round}"></span>회차)</h2>
                            </div><!--end table-responsive-->
                        </div><!--end bg-light rounded h-100 p-4-->
                    </div><!--end col-12-->


                    <!-- 설문항목 반복 출력 -->
                    <div th:each="survey : ${surveys}">
                        <div class="col-12">
                            <div class="bg-light rounded h-100 p-4">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="8">
                                                <span th:name="${survey.number}" th:text="${survey.number}" disabled></span>
                                                <span>.</span>
                                                <span th:text="${survey.content}"></span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>답변유형</th>
                                            <td colspan="7" th:name="${survey.type}" th:text="${survey.type}" style="width: 648px;" disabled></td>
                                        </tr>
                                        <tr>
                                            <th th:if="${survey.type eq '객관식'}">답변보기</th>
                                            <td th:if="${survey.type eq '객관식'}" th:each="i : ${#numbers.sequence(1, 7)}">
                                                <label th:if="${survey['item' + i]} != 7">
                                                    <input type="radio" th:text="${' ' + survey['item' + i]}" disabled="disabled">
                                                </label>
                                            </td>
                                        </tr>
                                        <!-- 나머지 항목들을 여기에 추가 -->
                                        </thead>
                                    </table>
                                </div><!--end table-responsive-->
                            </div><!--end bg-light rounded h-100 p-4-->
                        </div><!--end col-12-->
                    </div><!--survey : ${surveys}-->



                    <div class="col-12" style="display: flex; justify-content: flex-end; margin-bottom: 24px;">
                        <div class="btn-group" role="group" style="margin-right: 10px;">
                            <button type="button" class="btn btn-secondary modifyBtn">수정</button>
                        </div>
                    </div><!--end col-12-->

                </div><!--end row g-4-->

            </div><!--end inner-content-->

        </div><!--end container-fluid pt-4 px-4-->


    </div>
    <!-- content end -->

    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->
<div th:replace="/layout/basic :: scriptSet"></div>

<script src="/js/member/survey/read.js"></script>

</body>
</html>