<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="layout/basic :: sidebar">
    </div>
<!-- content start -->
    <div class="content">
        <div th:replace="layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
<!--        Title -->
                            <h5>상담 추가</h5>
                        <div class="card-body">
                            <form th:action="@{/counseling/insert}" method="post" id="i1">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">학생.No</span>
                                    <input type="text" class="form-control" name="studentIdx" th:value="${student.idx}" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">학생이름</span>
                                    <input type="text" class="form-control" th:value="${student.name}" placeholder="name" readonly>
                                </div>
<!-- 수정요청사항 이미 등록된 상담회차는 등록 못하게 -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">상담회차</span>
                                    <input type="text" class="form-control" name="round" th:value="${student.counseling}+1" placeholder="상담회차" readonly>
                                </div>
                                <div class="bs-body-color-rgb">
                                    <span class="input-group-text">내용</span>
                                    <textarea class="form-control col-sm-5" rows="15" id="content" name="content" maxlength="1000" placeholder="상담내용을 작성하세요" oninput="checkTextareaLength()" style="resize: none; overflow: hidden;" required></textarea>
                                    <p class="text-end" id="charCount"></p>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">상담 방법</span>
<!--                                    <input type="text" id="numberOnly1" class="form-control" name="method" oninput="checkMethodNumber()" placeholder="0:대면, 1:온라인, 2:전화 중 맞는 방법을 입력하세요" required>-->
                                    <select class="form-select form-select-sm" id="method" name="method" aria-label="상담방법을 선택하세요">
                                        <option selected>상담방법</option>
                                        <option value="0">대면</option>
                                        <option value="1">온라인</option>
                                        <option value="2">전화</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">담당자</span>
                                    <input type="text" class="form-control" id="writer" name="writer" placeholder="담당자를 입력하세요" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">날짜</span>
                                    <input type="text" class="form-control counselingDate" name="counselingDate" placeholder="상담시간" readonly>
                                </div>
            <!-- button -->
                                <div class="my-4">
                                    <div class="float-end">
                                        <button type="button" class="btn btn-primary creatBtn">저장</button>
                                        <button type="button" class="btn btn-outline-dark clearBtn">취소</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- end card body -->

                        </div><!-- end card-header -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end inner-content -->





    </div><!--end content -->



    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->



<div th:replace="layout/basic :: scriptSet">
</div>

<script content="script" th:inline="javascript">

    console.log("안녕 여기 상담추가");


    //시간 설정하기
    // HTML 요소를 선택합니다.
    const counselingDateInput = document.querySelector(".counselingDate");

    // 혹은 특정 포맷으로 날짜를 가져올 수 있습니다.
    const formattedDate = moment().format('YYYY-MM-DD HH:mm:ss');
    console.log(formattedDate); // 예: "2024-04-09 13:45:30"

    // 가져온 오늘 날짜를 input 요소의 값으로 설정합니다.
    counselingDateInput.value = formattedDate;
    console.log("counselingDateInput=" + counselingDateInput.value);




    //form에 id 추가
    const formObj = document.querySelector("#i1");

    //추가하기
    document.querySelector(".creatBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        // 상담 내용과 담당자 필드 가져오기
        const content = document.querySelector("#content").value.trim();
        const writer = document.querySelector("#writer").value.trim();
        const method = document.querySelector("#method").value.trim();

        // 상담 내용 + 담당자 + 상담방식 유효성 검사
        if(content !== "" && writer !== "" && (method === "0" || method === "1" || method === "2")){
            alert("추가되었습니다");

            const formObj = document.querySelector("#i1");
            formObj.action = `/counseling/insert`;
            formObj.method = 'post';
            formObj.submit();

        } else if (content === ""){
            alert("상담 내용을 입력하세요.");

        } else if (writer === ""){
            alert("담당자를 입력하세요.");

        } else if (method !== "0" && method !== "1" && method !== "2") {
            alert("상담방법을 선택하세요.");
        }

    }, false);


    //List 돌아가기
    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        const studentIdx = [[${student.idx}]]
        console.log("studentIdx= " + studentIdx);

        self.location ='/counseling/counselingDetail?idx=' + studentIdx;

    }, false)


    //입력된 글자 수 표시
    function checkTextareaLength() {
        var textarea = document.getElementById('content');
        var charCount = document.getElementById('charCount');
        var content = textarea.value;
        const maxLength = 1000;

        //1000자 이상일 경우 글자수 알림
        if (content.length > maxLength) {
            charCount.textContent = '글자 수: ' + maxLength + ' / ' + maxLength + ' (초과)';
            alert("1000자 이하로 작성바랍니다.")
        } else {
            charCount.textContent = '글자 수: ' + content.length + ' / ' + maxLength;
        }
    }


    //유효성검사 / 상담회차, 상담방법 number로 받기
    // $("#numberOnly").on("keyup", function() {$(this).val( $(this).val().replace(/[^0-9]/gi,"") );})
    // $("#numberOnly1").on("keyup", function() {$(this).val( $(this).val().replace(/[^0-9]/gi,"") );})


    //상담방법 0,1,2 입력 가능
    // function checkMethodNumber(){
    //     var methodInput = document.getElementById('numberOnly1');
    //     var method = methodInput.value;
    //
    //     if (!(method === '0' || method === '1' || method === '2')){
    //         alert("맞는 번호를 입력하세요")
    //         // 잘못된 값 입력 시 입력값을 지우기
    //         methodInput.value = "";
    //     }else{
    //         console.log("method= " + method);
    //     }
    // }


    //상담회차 1~6으로 제한
    // function checkRoundNumber(){
    //     var roundInput = document.getElementById('numberOnly');
    //     var round = roundInput.value;
    //
    //     if (!(round === '1' || round === '2' || round === '3' || round === '4'|| round === '5'|| round === '6')){
    //         alert("맞는 번호를 입력하세요")
    //         // 잘못된 값 입력 시 입력값을 지우기
    //         roundInput.value = "";
    //     }else{
    //         console.log("round= " + round);
    //     }
    // }







</script>



</body>
</html>